.ipynb_checkpoints/
A1/A1_images.tar.gz
A1/cyvlfeat_files.txt
A1/cyvlfeat_git/
A1/data/
A1/install_cyvlfeat.py
A1/libvl.so
A1/paintings_imdb_SIFT_10k_preprocessed.mat
A1/vlfeat-0.9.20-bin.tar.gz
A1/vlfeat-0.9.20/
